@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Black.woff2') format('woff2'),
        url('Kanit-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

